
.content {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 24px 30px;
  flex-grow: 1;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}